.active {
    /*border-bottom: 1px solid var(--accent);*/
    color: var(--accent) !important;
    /*border-left: 1px solid var(--accent) !important;*/
    /*border-right: 1px solid var(--accent) !important;*/
}

.div-links {
    list-style: none;
    gap: normal;
    display: flex;
}
.div-link {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    border-left: var(--accent);
    border-left-width: 1px;
    border-left-style: solid;
    /*border-right: var(--accent);*/
    /*border-right-width: 1px;*/
    /*border-right-style: solid;*/
    color: var(--text);
}
@media (min-width: 1541px) {
    .div-link {
        padding-right: 50px;
        padding-left: 50px;
    }
}
.div-link:first-child {
    border-left: none;
}

.button {
   background-color: hsl(138, 55%, 71%, 30%);
}
.header-bg {
    background: hsla(137, 33%, 96%, 1);
    background: linear-gradient(90deg, hsla(137, 33%, 96%, 1) 0%, hsla(0, 0%, 100%, 1) 68%);
    background: -moz-linear-gradient(90deg, hsla(137, 33%, 96%, 1) 0%, hsla(0, 0%, 100%, 1) 68%);
    background: -webkit-linear-gradient(90deg, hsla(137, 33%, 96%, 1) 0%, hsla(0, 0%, 100%, 1) 68%);
}
.footer {
    /*background-color: #27683a;*/
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text);
}