@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text: #09100b;
    --background: #f1f8f3;
    --primary: #4bfb80;
    --secondary: #97d8ab;
    --accent: #77d493;
  }
  .dark {
    --text: #eff6f1;
    --background: #070e09;
    --primary: #04b439;
    --secondary: #27683a;
    --accent: #2b8847;
  }
}
